__pycache__
team_list.json
active_route.json
active_target.json
all_location_areas.json
all_pokemon_names.json
pokemon_list.txt
shiny_hunt.json
team_list.json
tasks_list.json
current_task.txt
stream_state.json
ev_yields.json
/target_cache
/target_cache_backup
/.idea
StartPokemonServer.bat
selected_version.txt
